.mainHeader {
    height: 80px;
    margin: 0 0 0 0;
    padding: 0;
    background-color: green;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: center;
    border: none;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;
  }

  #container {
    height: 100%;
    width: 100%;
    display: flex;
  }
  #leftThing {
    width: 25%;
    background-color: blue;
  }
  #content {
    width: 50%;
    background-color: green;
  }
  #rightThing {
    width: 25%;
    background-color: yellow;
  }